<div class="row">
  <div class="span3">
    Product image
  </div>
  <div class="span3">
    <%= product.name %>
  </div>
  <div class="span1">
    <%= product.cost %>
  </div>
  <div class="offset1 span1">
    <%= link_to "Buy", "/cart/add?product=" + product.id.to_s %>
  </div>
</div>